@import url('https://fonts.googleapis.com/css?family=Poppins');

.only-mobile {
  display: none;
}
.only-desktop {
    display: none;
}
.only-phone-logo {
    display: none;
}
.mobile-menu {
    display: none;
}
.hero {
    display: none;
}
.hero-mobile{
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(0, 0, 0);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:60px;
    height:60px;
    border:6px solid #fff;
    border-bottom:6px solid #000;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
